<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"> 
 <listeners>
        <listener class-name="com.testyentra.paytm.nativeapp.listener.MyListeners"></listener>
    </listeners>
  <test thread-count="5" name="Testserver">
  <parameter name="platformVersion" value="9" />
  <parameter name="deviceName" value="Nokia 6.1 plus" />
  <parameter name="UDID" value="DRGID18100420489" />
  <parameter name="serverPort" value="4723" />
  <parameter name="ipaddress" value="0.0.0.0" />
    <classes>
      <class name="test.test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
